<!DOCTYPE html>
<html>
  <head>
    <title>RoloappBackend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= yield %>
      <!-- /#wrapper -->
    </div>
    <% if alert  %>
    <script>
      //$.notify("<%= alert %>", "error");
      toastr.info('<%= alert %>')
    </script>
    <% end %>
  </body>
</html>
